.notice{
  text-align:center;
  color: #AAA;
}

.alert{
  text-align:center;
  color: #AAA;
  font-weight: bold;
}

.center{
  text-align:center;
}

.spaced{
  margin:3px;
}

.left{
  float:left !important;
}

.right{
  float:right;
}


.chat{
  padding:0 1em 1em 1em !important;
}

.tracks{
  padding:0 !important;
}

.tracks table{
  border:0;
  margin-bottom:0px;
}

#social_links{
  margin-left:0px;
}

#players{
  width: 380px;
  position:absolute;
  left:210px;
  text-align:center;
  color: #AAA;
}

#players img{
  margin: 0 20px;
}

.text{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  padding: 6px;
  margin: 0;
  border: 1px solid #dddddd;
  color: #999999;
  box-shadow: 0 0 3px 0 #eeeeee;
  -webkit-box-shadow: 0 0 3px 0 #eeeeee;
  -moz-box-shadow: 0 0 3px 0 #eeeeee;
  margin:2px;
}

.text#author{
  width:10em;
}

.text#message{
  width:31.5em;
}
.text#message.big{
  width:42.8em;
}

.submit {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: .50em 1em;
  color: #222222;
  border: 1px solid #cccccc;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -moz-linear-gradient(center top, #ffffff 0%, #eeeeee 100%);
  background: -moz-gradient(center top, #ffffff 0%, #eeeeee 100%);
  font-weight: bold;
  box-shadow: inset 0 -1px 2px 0 #dddddd;
  -webkit-box-shadow: inset 0 -1px 2px 0 #dddddd;
  -moz-box-shadow: inset 0 -1px 2px 0 #dddddd;
  margin-left: 0px;
}

#chatbox{
  margin: 0 0 5px 0;
  height: 350px;
  overflow:auto;
  width:74%;
  float:left;
  background: #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1)
}

.chat_row{
  margin:3px;
  float:left;
  width:95%;
}

.author{
  float:left;
  font-weight:bold;
  margin:1px 3px;
}

.message{
  margin:2px;
}

.action_message{
  color:lightgray;
}

.time{
  margin:2px 3px 0 0;
  font-size:8pt;
  font-style:italic;
  float:left;
}

#online{
  float:left;
  margin:0 5px;
  padding:5px;
  list-style-type: none;
  width:22%;
  height: 340px;
  overflow:auto;
  background: #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1)
}

#current_track img{
  margin-bottom:-10px;
}

.filter{
  margin: 0 5px;
}

.italic{
  font-style:italic;
}

th.name{
  width: 40%;
}
th.artist{
  width: 20%;
}
th.plays{
  width: 5%;
}
th.djs{
  width:15%;
}
th.last-play{
  width:15%;
}

.big th.artist{
  width:50%;
}
.big th.djs{
  width:30%;
}

/* overwrite from template css */
.intro img {
  width: auto;
  float: none;
  margin-right: 0;
  padding: 0;
  background: inherit;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.stream-loading{
  position: absolute;
	font-size:.64em;
	font-style:oblique;
	top:60px;
	left:50px;
}

#limit-alert{
  display:none;
}

#ads{
  width:500px;
  text-align:center;
  margin:auto;
  margin-bottom:-20px;
}

#playlist{
  border-top: solid 1px #EEE;
  max-height: 150px;
  overflow:auto;
}
#playlist li{
  font-weight:normal;
}
#playlist li.current{
  color: #0D88C1 !important;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 7px;
}
#create_playlist{
  width: 380px;
  position:absolute;
  left:210px;
  text-align:center;
  color: #AAA;
}